.app {
    display: flex;
    flex-direction: column;
}

.section-content {
    position: relative;
    padding: 0 20px;
    flex-grow: 1;
}

.dashboard {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .text {
    font-size: 18px;
    text-align: center;
}

.dashboard .journeyBtns {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .journeyBtns .journeyBtn {
    /* width: 145px; */
    height: 145px;
    font-size: 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 4px #cccccc, 0 2px 4px rgb(90, 12, 192);
    margin: 16px 50px auto;
    width: 80%;
    min-width: 145px;
    text-align: center;
    align-self: center;
}

@media (max-width: 600px) {
    .dashboard .journeyBtns .journeyBtn {
        height: 100%;
        width: 100%;
    }
}

.dashboard .journeyBtns .journeyBtn::first-letter {
    font-size: 200%;
}

button {
    align-items: center;
}
