.header {
    min-height: 55px;
    background-color: #e6e2d3;
    font-size: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.overlay{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.8)
}

.loading:before {
    content: '';
    top: 50%;
    left:50%;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url('./assets/loader.svg') no-repeat;
  }
